@import url('https://fonts.googleapis.com/css?family=Prompt');
body{
	background-image: url("mynd1234.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 

}






p{
	font: 15px/2;
	margin: 0 0 10px 0; 
	text-indent: 30px; 

}









.i1{
	border:1px solid;
	background: yellow;
	order: 1;
	width: 650px;
	padding:20px;
	margin: 100px auto;
	justify-content: center;
	align-items: center;
  	background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60);
    text-align: center;
    font-family: "Prompt";
	border-radius: 2.5%; 
	
}



.header{
	text-align: center;
	justify-content: center;
	align-items: center;
	font-family: 'Prompt', sans-serif;

}